{% extends "blog/base.html" %}
{% load blog_tags %}
{% load crispy_forms_tags %}

{% block title %} Поиск {% endblock %}

{% block body %}
    <div class="container">
        {% if query %}
        <h3>Посты содержащие "{{ query }}"</h1>
        <h5>Найдено {{ results.count }}</h5>
        {% for post in results %}
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            {{ post.body|truncatewords:30 }}
            {% empty %}
                <p>По вашему запросу не ничего не найдено</p>
        {% endfor %}
        <a class="btn btn-success" href="{% url "blog:post_search" %}">Повторить поиск</a>
        {% else %}
            <h1>Поиск постов</h1>
            <form method="get">
                {{form|crispy}}
                <br><br>
                <input class="btn btn-primary" type="submit" value="Найти">
            </form>
        {% endif %}
    </div>
{% endblock %}